@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: url(../assets/client_background.png) center center; 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 10px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

ul {
    list-style-type: none;
}

.icons {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.arrow {
  font-size: 25px;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fa {
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 24px 10px;
  cursor: pointer;
}

.fa-user {
  color: white;
  margin-right: 100px;
  display: none;
  font-size: 45px;
}

.fa-facebook {
  color: #1b66ff;
}

.fa-facebook:hover {
  opacity: 0.7;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-twitter:hover {
  opacity: 0.7;
}

.fa-github {
  color: lightgrey;
}

.fa-github:hover {
  opacity: 0.7;
}

.card-container {
  background-color: black;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
  color: #B3B8CD;
  padding: 30px 0 0;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
  transition: transform 1s;
  transform-style: preserve-3d;
  transition-delay: 250ms;
}

.card-container img {
  border: 2px solid cornflowerblue;
  border-radius: 50%;
  padding: 7px;
  height: 150px;
  width: 150px;
}

.card__face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#back {
  transform: rotateY(180deg);
  background-color: black;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
  color: #B3B8CD;
  padding: 30px 0 0;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
  min-height: 500px;
}

.card-container.is-flipped {
  transform: rotateY(180deg);
}

.qrcode {
  margin-top: 22px;
}

.qrcode img {
  max-height: 90px;
  max-width: 90px;
  border: 1px solid cornflowerblue;
  border-radius: 0px;
  background-color: white;
}

#backbutton {
  cursor: pointer;
  font-size: 30px;
}

.buttons {
  margin-top: 20px;
}

button.primary {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 3px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  cursor: pointer;
  margin: 3px;
}

button.primary a {
  color: cornflowerblue;
  text-decoration: none;
}

button.primary.ghost {
  background-color: transparent;
  color: cornflowerblue;
}

.footer {
  background-color: black;
  text-align: center;
  padding: 15px;
}

.footer a {
  color: cornflowerblue;
  cursor: pointer;
}
